body {
    font-family: Arial, sans-serif
}

nav ul li a:hover {
    background-color: #ddd;
}
.slider{
    width: 70%;
    height: 70%;
    text-align:center;
}
.img-slider{
    border-radius: 10px;
    height: 65%;
    width:60%;
}

@media (max-width:768px){
	.slider{
		width:80%;
	}
	.img-slider{
		width:100%;
	}
}
